@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, gray, lightblue);

  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    lbackground: rgb(198, 111, 4);
   lbackground-color: rgb(230, 221, 137);

  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    margin-right: 15px;
  }

  .logo h5 {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(41, 162, 162);
    font-family: "Booter - Zero Zero";
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar ul::after{
    border: 2px solid red;
  }
  
  .navbar ul li {
    margin: 0 10px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    
  }
  
  .navbar ul li a:hover {
    color: #333;
    border: 2px solid aqua;
    border-radius: 30%;
    background: aqua;
  }
  
  header {
    lbackground-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
    lbackground: bisque;
    lbackground: #f1355a;
    lbackground: rgb(198, 111, 4);
    lbackground: rgb(151, 118, 78);
  }
  
  header h3 {
    font-size: 36px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px 20px rgba(25, 111, 71, .5);
    lcolor: rgb(30, 125, 125);
  
  

  }

  .container {
    lbackground-color: rgb(41, 155, 193);
    margin: 0;
    background-size: cover;
    background-blend-mode: multiply;
    overflow: scroll;
    opacity: 1.5;
    background: rgba(0, 0, 0, );
    lbackground-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzZ2aLc77V-KzEHpBBiYJg4ZPodf41xzQ9xQ&usqp=CAU');
    background: linear-gradient(to right, gray, lightblue);
  }

  .container h3 {
    color: black;
    font-size: 50px;
    margin: 80px;
    padding-top: 70px;
    
  }

  .item {

    margin-top: 60px;
    margin-bottom: -40px;
  }

  
  #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #search-form label {
    margin: 0 15px;
  }
  
  .btn2, .btn3, .btn4 {
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 0.5px grey;
    
  }
  
  .btn4 {
    background-color: #333;
    color: #fff;
    background: aqua;
    border: none;
    flex-wrap: wrap;
    margin-left: 20px;    
  }

  .btn2:hover {
    background: grey;
    opacity: 0.5;


  }

  .btn3:hover {
    background: grey;
    opacity: 0.5;

  }

  
  .hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hashtag ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .hashtag ul li {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  footer h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .navi ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navi ul li {
    margin: 0 10px;
  }
  
  .navi ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navi ul li a:hover {
    color: #ccc;
  }
  
  #output {
    lbackground: red;
    text-align: left;
    font-size: 20px;
    margin: 90px;
    padding: 80px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   lbackground: rgb(198, 111, 4);
   lmargin: 330px;
   font-family: "Booter - Zero Zero";
  
  }

  

  

  
  

  #output ul {
    lbackground-color: green;
    left: 0;
    
  }

  #output ul li{
   lbackground-color: blue;
    list-style-type: none;
    left: 400px;
    padding: 10px;
    color: black;
    /* border-bottom: 12px solid red; */
  }

  #output a{
    color: blueviolet;
    text-decoration: none;
  }

  #output ul li:nth-child(4) {
    border-bottom: 1px solid rgb(145, 139, 139);
    padding: 10px;
  }

  #output h2 {
    lcolor: burlywood;
    text-align: center;
    color: khaki;
    margin-bottom: 20px;
    font-family: "Booter - Zero Zero";
  
  }

  footer {
    margin: 10px;
    font-size: 20px;
  }

  footer h4 {
    padding-bottom: 10px;
  }




  .ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
    
}


.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

span {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out linear infinite;
}

@keyframes text {

    50% {
        color: aqua;
    }
    
}
